  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /* position: fixed; */
    background-color: #9eecf8;
    color: #ffffff;
    padding: 1px;
    text-align: center;
  }
  .imgheader{
    margin-left: 2%;
    float: left;
    width: 80px; /* กำหนดความกว้าง */
    height: 80px; /* กำหนดความสูง */
    border-radius: 0.4rem; /* เพิ่มขอบโค้งให้กับกรอบรูปภาพ */
  }
  
  main {
    padding: 0.4rem;
  }
  .row {
    border: 2px solid #168cec;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
  }
  .productsw { /* เครื่องซัก */
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 1rem;
    justify-content: center; /* จัดให้อยู่กลางแนวนอน */
    align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
    margin: 1.5rem;
  }
  .washerh1 { /* ข้อความเครื่องซัก */
    color: #00c8ff;
    text-align: center;
 
  }
  .producw { /* กล่องเครื่องซัก */
    border: 2px solid #07e6ff;
    padding: 1rem;
    align-items: center;
  }
  .imgwasher {
      width: 100px; /* กำหนดความกว้าง */
      height: 100px; /* กำหนดความสูง */
      border-radius: 0.2rem; /* เพิ่มขอบโค้งให้กับกรอบรูปภาพ */
  }
  

  .productsd {  /* เครื่องอบ */
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 1rem;
    justify-content: center; /* จัดให้อยู่กลางแนวนอน */
    align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
    margin: 0;
  }
  .dryersd{ /* ข้อความเครื่องอบ */
    color: #f20202;
    text-align: center;
  }
  .producd { /* กล่องเครื่องอบ */
    border: 2px solid #ff0000;
    padding: 1rem;
    text-align: center;
  }
  
  footer {
    background-color: #f73c3c;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .h1 {
    color: black;
  }
  .p1 {
    color: black;
  }
  .f1{
    size: 200%;
  }
  .how{
    width: 150px;
    height: 250px;
  }
  

